body{
    background-image: url(../img/bg-light-glow.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 390px;
    margin: 0 auto;
}
.screen {
    padding: 24px 16px 0 16px;
    max-width: 390px;
    margin: 0 auto;
    height: 100vh;
    position: relative;
}
.nav-menu-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nav-menu-items {
    box-sizing: border-box;
    height: 87px;
    padding-top: 4.5px;
    position: fixed;
    width: 100%;
    right: 0;
    padding-right: 22.5px;
    padding-left: 22.5px;
    bottom: 0;
    background: #000;
}
.nav-menu-items-content{
    max-width: 390px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-menu-item-title{
    font-family: 'InterRegular',sans-serif;
    font-size: 10px;
    color: #fff;
}
.main-level-info-rep{
    font-family: 'InterBold',sans-serif;
    font-size: 20px;
    color: #03FF65;
}
.main-level-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.main-level-info-next{
    font-family: 'InterRegular',sans-serif;
    font-size: 14px;
    color: #FFFFFF;
}
.coinsCount img{
    width: 60px;
    height: 60px;
}
.count{
    font-family: 'InterRegular',sans-serif;
    font-size: 25px;
    color: #FFFFFF;
}
.coinsCount{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.coinsCount-button{
    box-sizing: border-box;
    height: 60px;
    align-items: center;
    padding: 8px 14px;
    width: 161px;
    background: rgba(255, 255, 255, 0.14);
    border-radius: 50px;
    display: flex;
    justify-content: center;

    font-family: 'InterBold',sans-serif;
    font-size: 25px;
    color: #FFFFFF;
}
.main-info-bar{
    width: 100%;
    height: 23px;
    background: rgba(255, 255, 255, 0.14);
    border-radius: 50px;
    margin-bottom: 34.5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.main-info-line{
    width: 134px;
    background-color: #03FF65;
    height: 17px;
    border-radius: 50px;
    margin-left: 3px;
}
.farming{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 14px;

    width: 338px;
    height: 60px;

    background: #2B2B4A;
    border-radius: 50px;
    position: absolute;
    bottom: 111px;
    left: calc(50% - 169px);
}
.farming-reward{
    display: flex;
    align-items: center;
    column-gap: 3px;
    z-index: 1;
}
.farming-reward img{
    width: 30px;
    height: 30px;
}
.farming-reward-count{
    font-family: 'InterRegular',sans-serif;
    font-size: 20px;
    color: #FFFFFF;
}
.farming-text{
    font-family: 'InterRegular',sans-serif;
    font-size: 14px;
    color: #fff;
}
.farming-hour{
    font-family: 'InterRegular',sans-serif;
    font-size: 20px;
    color: #FFFFFF;
}
.farming-line{
    position: absolute;
    box-sizing: border-box;
    width: 150px;
    height: 60px;
    left: 0px;
    top: calc(50% - 61px/2 + 0.5px);
    background: linear-gradient(270deg, #6633D4 0%, #0039A6 100%);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.menu-item-active svg path{
    stroke: #9C59CC;
}
.menu-item-active .nav-menu-item-title{
    color: #9C59CC;
}

.farming-img{
    position: absolute;
    z-index: -1;
    width: 316px;
    height: 314px;
    left: 10px;
    bottom: 33px;
}
.luna{
    position: absolute;
    z-index: -1;
    width: 96px;
    height: 96px;
    left: 0px;
    bottom: 280px;
}
.luna-1,
.luna-2,
.luna-3{
    display: none;
}
.tuman{
    left: -26px;
    bottom: -28px;
    z-index: -1;
    position: absolute;
}














